<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="{{page.id}}" data-title="{{page.title}}" data-url="saicoco.github.io/{{page.url}}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"saicoco"};
(function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
     || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
<!-- 多说公共JS代码 end -->

<div class="ds-share" data-thread-key="{{page.id}}" data-title="{{page.title}}" data-images=" " data-content="{{page.content}}" data-url="saicoco.github.io/{{page.url}}">
    <div class="ds-share-aside-left">
      <div class="ds-share-aside-inner">
      </div>
      <div class="ds-share-aside-toggle">分享到</div>
    </div>
</div>
